// Wide screens
@include mediaXl {
}

// Desktops and Laptops
@include mediaLg {
  main {
    .lg-heading {
      font-size: 20px;
    }
    .home-container {
      .first-box {
        max-width: 400px;
      }
      
    }
    
  }
}

// Tablets and small laptops-
// my picture should still be side by side
@include mediaMd {
  main {
    .lg-heading {
      font-size: 3rem;
      line-height: 1.1;
      margin-bottom: 1rem;
    }
    .sm-heading {
      font-size: 1.75rem;
    }
    .home-container {
      display: block;
      text-align: center;
      h1 {
        margin-top: 10vh;
      }
     
    }

     .my-picture-container {
        // margin-top: 3rem;
        width: 80vw;
        margin: auto;
     filter: grayscale(0);
     -webkit-filter: grayscale(0);
        -moz-filter: grayscale(0); 
        filter: none;
      }

    .first-box {
      // height: 100vh;
      margin-bottom: 20vh;
    }
  }
}

// Smartphones
@include mediaSm {
  h1 {
    margin-top: 20vh;
  }

  header {
    padding: 2rem 1.25rem;
  }

  main {
    padding: 4rem 1.25rem;

    h1.lg-heading {
      font-size: 1.75rem;
    }

    h2.sm-heading {
      font-size: 1rem;
      font-weight: 700;
    }
    .hero-btn a {
      font-size: 1rem;
    }
  }

  ul.menu-nav {
    float: none;
    width: 100%;
  }
}
