@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700");
.logo {
  z-index: 3;
}

.logo-text {
  font-size: 1rem;
  color: #fff;
  font-family: "Indie Flower";
  letter-spacing: 4px;
  font-weight: 600;
}

.logo span {
  color: #8892b0;
}

.menu-btn {
  z-index: 3;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.menu-btn .btn-line {
  width: 28px;
  height: 3px;
  margin: 0 0 5px 0;
  color: yellow;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.menu-btn.close {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.menu-btn.close .btn-line:nth-child(1) {
  -webkit-transform: rotate(45deg) translate(5px, 5px);
          transform: rotate(45deg) translate(5px, 5px);
}

.menu-btn.close .btn-line:nth-child(2) {
  opacity: 0;
}

.menu-btn.close .btn-line:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(7px, -6px);
          transform: rotate(-45deg) translate(7px, -6px);
}

.menu {
  position: fixed;
  top: -20px;
  width: 100%;
  visibility: hidden;
}

.menu.show {
  visibility: visible;
}

.menu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  float: right;
  width: 25%;
  height: 100vh;
  overflow: hidden;
  background: black;
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.menu-nav.show {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.menu .nav-item {
  -webkit-transform: translate3d(600px, 0, 0);
          transform: translate3d(600px, 0, 0);
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.menu .nav-item.show {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.menu .nav-item.current > a {
  color: #fff;
}

.menu .nav-link {
  display: inline-block;
  position: relative;
  font-size: 30px;
  padding: 1rem 0;
  font-weight: 300;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.menu .nav-link:hover {
  color: #fff;
}

ul.menu-nav {
  float: right;
  width: 50%;
  min-height: 0;
}

ul.menu-nav.show {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.menu-nav {
  height: 75vh;
  -webkit-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0);
  font-size: 24px;
}

.nav-item:nth-child(1) {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.nav-item:nth-child(2) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.nav-item:nth-child(3) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.nav-item:nth-child(4) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.nav-item:nth-child(5) {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #000;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI";
  line-height: 1.3;
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;
}

h1.lg-heading,
h2.lg-heading,
h3.lg-heading {
  font-size: 4rem;
  font-weight: 600;
  color: #fff;
}

h1.sm-heading,
h2.sm-heading,
h3.sm-heading {
  font-weight: 100;
  color: #8892b0;
  font-size: 1.5rem;
}

a {
  color: #8892b0;
  text-decoration: none;
}

a:hover {
  color: #fff;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

li {
  list-style: none;
}

header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 4rem;
  z-index: 10;
  width: 100%;
}

main {
  padding: 4rem;
  min-height: calc(100vh - 50px);
  overflow: hidden;
}

main .btn {
  margin-top: 80px;
}

main .hero-btn a {
  padding: 0.8rem 1rem;
  font-weight: 100;
  font-size: 1rem;
  color: #fff;
  border: 1px solid;
}

main .hero-btn .resume-btn:hover {
  background-color: #8892b0;
  font-weight: 200;
}

main .hero-btn .hire-me-btn {
  background-color: #fff;
  color: #000;
  margin-left: 2rem;
  font-weight: 600;
}

main .hero-btn .hire-me-btn:hover {
  color: #8892b0;
  background-color: #000;
}

main .home-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 90vh;
}

main .home-container h1 {
  margin-top: 10vh;
}

main .home-container .my-picture-container {
  border-radius: 3px;
  box-shadow: 9px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 9px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 9px 10px 5px 0px rgba(0, 0, 0, 0.75);
  height: 300px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  max-width: 300px;
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
  -moz-filter: grayscale(1);
  content: url("../img/me-2.jpg");
  -webkit-transition: all .7s ease-in-out;
  transition: all .7s ease-in-out;
}

main .home-container .my-picture-container:hover {
  -webkit-filter: none;
          filter: none;
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

main .project-container {
  height: 600px;
  margin: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 500px 100px;
      grid-template-rows: 500px 100px;
  -ms-grid-columns: 1fr 30px 30px 30px 30px 30px 1fr;
      grid-template-columns: 1fr 30px 30px 30px 30px 30px 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

main .project-container #carousel {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 7;
  grid-column: 1 / 8;
  width: 100vw;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 600px;
          perspective: 600px;
  --items: 5;
  --middle: 3;
  --position: 1;
  pointer-events: none;
}

main .project-container .card {
  position: absolute;
  width: 300px;
  height: 400px;
  background-color: coral;
  --r: calc(var(--position) - var(--offset));
  --abs: max(calc(var(--r) * -1), var(--r));
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear;
  -webkit-transform: rotateY(calc(-10deg * var(--r))) translateX(calc(-300px * var(--r)));
          transform: rotateY(calc(-10deg * var(--r))) translateX(calc(-300px * var(--r)));
  z-index: calc((var(--position) - var(--abs)));
  border: 1px solid yellow;
  padding: 2rem 2rem 2rem 2rem;
}

main .project-container .card li {
  display: inline-block;
  font-size: 12px;
  padding: 3px;
}

main .project-container .card:nth-of-type(1) {
  --offset: 1;
  background-color: #38405F;
}

main .project-container .card:nth-of-type(2) {
  --offset: 2;
  background-color: #38405F;
}

main .project-container .card:nth-of-type(3) {
  --offset: 3;
  background-color: #38405F;
}

main .project-container .card:nth-of-type(4) {
  --offset: 4;
  background-color: #38405F;
}

main .project-container input:nth-of-type(1) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}

main .project-container input:nth-of-type(1):checked ~ #carousel {
  --position: 1;
}

main .project-container input:nth-of-type(2) {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}

main .project-container input:nth-of-type(2):checked ~ #carousel {
  --position: 2;
}

main .project-container input:nth-of-type(3) {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4 /5;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}

main .project-container input:nth-of-type(3):checked ~ #carousel {
  --position: 3;
}

main .project-container input:nth-of-type(4) {
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-column: 5 / 6;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}

main .project-container input:nth-of-type(4):checked ~ #carousel {
  --position: 4;
}

#main-footer {
  height: 50px;
  text-align: center;
  background-color: black;
  padding: 10px;
  font-size: 14px;
}

#main-footer .social-links a {
  padding: 0 0 1rem 1rem;
}

@media screen and (min-width: 769px) and (max-width: 1170px) {
  main .lg-heading {
    font-size: 20px;
  }
  main .home-container .first-box {
    max-width: 400px;
  }
}

@media screen and (max-width: 768px) {
  main .lg-heading {
    font-size: 3rem;
    line-height: 1.1;
    margin-bottom: 1rem;
  }
  main .sm-heading {
    font-size: 1.75rem;
  }
  main .home-container {
    display: block;
    text-align: center;
  }
  main .home-container h1 {
    margin-top: 10vh;
  }
  main .my-picture-container {
    width: 80vw;
    margin: auto;
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    filter: none;
  }
  main .first-box {
    margin-bottom: 20vh;
  }
}

@media screen and (max-width: 500px) {
  h1 {
    margin-top: 20vh;
  }
  header {
    padding: 2rem 1.25rem;
  }
  main {
    padding: 4rem 1.25rem;
  }
  main h1.lg-heading {
    font-size: 1.75rem;
  }
  main h2.sm-heading {
    font-size: 1rem;
    font-weight: 700;
  }
  main .hero-btn a {
    font-size: 1rem;
  }
  ul.menu-nav {
    float: none;
    width: 100%;
  }
}
/*# sourceMappingURL=main.css.map */